/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

/* Tailwind CSS Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
* {
  font-family: "Sora", sans-serif;
}
body {
  background-color: rgb(230, 230, 230);
}

.box-shadow-f {
  box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.hover-box-shadow-f {
  box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.2);
}
